.vue-country-intl-inputer{
    position: relative;
    background-color: #fff;
    pointer-events: auto;
}
.country-intl-input-wrap{
    position: relative;
}
.vue-country-intl-inputer .country-intl-input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.42857143;
    padding: 9px 55px 10px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    background-color: #fff;
    appearance:none; /* 去除iPhone输入框阴影 */
}
.vue-country-disabled .country-intl-input{
    border-color: #ededed;
}
.vue-country-intl-inputer.is-static .country-intl-input,
.dropdown-list-on-bottom.is-focused .country-intl-input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown-list-on-top.is-focused .country-intl-input{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vue-country-intl-inputer .country-intl-label{
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    padding: 9px 15px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
}
.vue-country-intl-inputer.is-focused .country-intl-label,
.vue-country-intl-inputer .no-data .country-intl-label{
    display: none;
}
.vue-country-intl-inputer .country-intl-label span{
    display: inline-block;
    vertical-align: middle;
}
.vue-country-intl-inputer .country-intl-label .iti-flag{
    margin-right: 8px;
}
.vue-country-disabled .country-intl-label span{
    opacity: .65;
}
.vue-country-intl-inputer .dropdown-flag{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 40px;
    border-radius: 5px;
    transition: transform .3s;
}
.vue-country-intl-inputer .dropdown-flag::after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: ' ';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #999;
    margin: -3px 0 0 -5px;
}
.vue-country-intl-inputer.is-focused .dropdown-flag{
    transform: rotate(-180deg);
}
.vue-country-disabled .dropdown-flag{
    opacity: .7;
}
.vue-country-intl-inputer .prevent-click{
    display: none;
}
.vue-country-disabled .prevent-click{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: not-allowed;
}

.vue-country-intl-inputer-dropdown{
    position: absolute;
    /*top: 100%;*/
    z-index: 99999;
}
.vue-country-intl-inputer.is-static .vue-country-intl-inputer-dropdown{
    position: static;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vue-country-intl-inputer-dropdown.easyest-placement-bottom{
    margin-top: -1px!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vue-country-intl-inputer-dropdown.easyest-placement-top{
    margin-bottom: -1px!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
